[submodule "flashrom"]
	path = flashrom
	url = https://github.com/platinasystems/flashrom
[submodule "ethtool"]
	path = ethtool
	url = https://github.com/platinasystems/ethtool
[submodule "golang-1.14"]
	path = golang-1.14
	url = https://github.com/platinasystems/golang-1.14
	branch = golang-1.14
[submodule "goes-build"]
	path = goes-build
	url = https://github.com/platinasystems/goes-build
[submodule "linux"]
	path = linux
	url = https://github.com/platinasystems/linux
	branch = platina-4.18.y
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/platinasystems/u-boot
[submodule "coreboot"]
	path = coreboot
	url = https://github.com/platinasystems/coreboot
[submodule "goes-boot"]
	path = goes-boot
	url = https://github.com/platinasystems/goes-boot
[submodule "platina-secrets"]
	path = platina-secrets
	url = https://github.com/platinasystems/platina-secrets
[submodule "goes-bmc"]
	path = goes-bmc
	url = https://github.com/platinasystems/goes-bmc
[submodule "fe1"]
	path = fe1
	url = https://github.com/platinasystems/fe1
	branch = v2
[submodule "platina-linux-kernel"]
	path = platina-linux-kernel
	url = https://github.com/platinasystems/platina-linux-kernel
[submodule "platina-mk1-ttys"]
	path = platina-mk1-ttys
	url = https://github.com/platinasystems/platina-mk1-ttys
[submodule "platina-mk1-release"]
	path = platina-mk1-release
	url = https://github.com/platinasystems/platina-mk1-release
[submodule "goes"]
	path = goes
	url = https://github.com/platinasystems/goes
