*.build
*.buildinfo
*.changes
*.deb
*.dsc
*.tar.gz
*.tar.xz
*.zip
/coreboot
/crash
/dkms
/ethtool
/fe1
/flashrom
/goes
/goes-bmc
/goes-boot
/goes-build
/golang-1.15
/linux
/lm-sensors
/makedumpfile
/platina-linux-kernel
/platina-mk1-release
/platina-mk1-ttys
/platina-secrets
/u-boot
/xeth